@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body{
background-color: #E9E4E6 !important;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E9E4E6;
    height: 100%;
}
.form-container{
    background-color: #283E56;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    color: #F8F0DF;
    font-family: 'Nunito', sans-serif;
    margin-top: 50px;
}
.form{
    margin-left: 50px;
    width: 330px;
}
.input-group {
    margin-top: 0.85rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 5px;
  }

  .input-group input {
    width: 300px;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  /* this adds the color to the border of active block in which we are writing whether its username or password */
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.85rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  .sign {
    margin-left: 80px;
    display: block;
    width: 180px;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: #E4F9FF;
    margin-left: 10px;
    margin-right: 10px;
  }
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  } 
  .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icons .icons {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  } 
  .social-icons .icons svg{
    height: 2rem;
    width: 2rem;
  }
  .signup{
    margin-top: 0;
    text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  }
