@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: #283E56;
    height: 500px;
    width: 450px;
    border-radius: 10px;
    color: #F8F0DF;
    font-family: 'Nunito', sans-serif;
}
.form{
    margin-left: 50px;
}
.input-group {
    margin-top: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }

  .input-group input {
    width: 300px;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  /* this adds the color to the border of active block in which we are writing whether its username or password */
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }