body{
    font-family: 'Poppins', sans-serif;
    background-color: #65647C;
}
.container{
    align-self: flex-start;
    text-align: center;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    box-sizing: content-box;
    background-color: #C7BCA1;
}
h1{
    margin: auto;
}
input{
    width: 240px;
    height: 45px;
    border-radius: 10px;
    font-size: 35px;
}
button{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: #8B7E74;
}
